{# app/Resources/views/default/enConstruction.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}En construction{% endblock %}
{% block body %}
        <p>Le site est actuellement en construction.</p>
{% endblock %}
